* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Roboto", sans-serif;
}

a {
    text-decoration: none;
}

ul {
    list-style-type: none;
}

/* header */
header {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
}



.container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1199px;
    margin: auto;
}

.header_container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav {
    display: flex;
    align-items: center;
}

.container ul li a {
    color: #070120;
    text-transform: capitalize;
    font-size: 15px;
    font-weight: 500;
    display: inline-block;
    font-weight: bold;
    transition: all 0.5s;
}

.container ul li i {
    color: black;
    transition: all 0.5s;
    margin-left: 4px;
}

.container ul li:hover i {
    color: #f55f8d;

}

.container ul li span {
    display: inline-block;
}

.container ul li:hover span {
    color: #f55f8d;
    animation: uptoDown 0.5s;
}

.container ul li {
    padding: 55px 15px;
}

nav ul {
    display: flex;
    margin-right: 30px;
}

button {
    padding: 20px 35px;
    font-size: 15px;
    font-weight: 500;
    background-image: linear-gradient(to right, #f55f8d 0, #f8ae56 51%, #f55f8d 100%);
    background-size: 200%;
    border: 1px solid transparent;
    transition: all 0.5s;
    border-radius: 30px;
    color: #fff;
    cursor: pointer;
    outline: none;
    text-transform: uppercase;
    line-height: 1.2;
}

button:hover {
    background-position: right center;
}

/* carousel */
.carousel {
    padding-top: 180px;
    overflow: hidden;
    background-image: url(../img/pic2.png);
    background-position: top;
    background-size: 100%;
}

.container_global {
    display: flex;
    align-items: center;
    max-width: 1199px;
    margin: auto;
}

.container_menu {
    display: flex;
    align-items: center;
}

.container_left {
    width: 60%;
}

.container_left .title p {
    font-weight: 600;
    font-size: 22px;
    margin-bottom: 20px;
    color: #f55f8d;
}


.container_left .title h2 {
    font-size: 70px;
    line-height: 1.1;
    font-weight: 600;
    color: #262626;
    margin-bottom: 20px;
}

.article li {
    padding: 10px 5px 10px 0;
    font-size: 20px;
}

.article ul {
    margin-bottom: 20px;
}

.article ul li i {
    width: 35px;
    height: 35px;
    line-height: 35px;
    text-align: center;
    font-size: 24px;
    color: #fff;
    border-radius: 35px;
    font-weight: 900;
    background-image: linear-gradient(to right, #f55f8d 0, #f8ae56 51%, #f55f8d 100%);
    background-size: 200%;
    margin-right: 10px;
}

.container_right {
    width: 40%;
}

.container_right img {
    max-width: 100%;
    display: block;
}

.services {
    padding-top: 115px;
    background-image: url(../img/bg2.png);
    background-size: cover;
    background-position: top center;
    text-align: center;
}

.services_container {
    max-width: 1199px;
    margin: auto;
}

.services_title p {
    font-weight: 600;
    font-size: 22px;
    margin-bottom: 20px;
    color: #f55f8d;
}

.services_title h2 {
    font-size: 70px;
    line-height: 1.1;
    font-weight: 800;
    color: #262626;
    margin-bottom: 20px;
}

.services_content {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 30px;
    margin-top: 40px;
}

.services_item img {
    width: 215px;
}

.services_item h3 {
    font-weight: 700;
    font-size: 1.5rem;
    color: #262626;
    margin: 15px 0;
}

.services_item {
    border-radius: 0.5rem;
    background: #fff;
    box-shadow: 0 0 60px 0 rgba(0, 0, 0, 0.1);
    padding: 30px 45px;
    transform: translateY(0);
    transition: all 0.5s;
    border-image: 100 round;
    border: 3px solid transparent;
}

.services_item:hover {
    transform: translateY(-20px);
    border-image: url(../img/br.png) 1 round;
}

.aboutUs {
    background-image: url(../img/bg15.png);
    background-size: 100%;
    background-position: center right;
    background-repeat: no-repeat;
    padding-bottom: 85px;
    overflow: hidden;
    padding-top: 115px;
}

.aboutus_container {
    max-width: 1199px;
    margin: auto;
}

.aboutus_content {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    position: relative;
}

.aboutus_left {
    width: 60%;
    position: absolute;
    left: -17%;
}

.aboutus_left img {
    width: 100%;
    border-radius: 0 100px 100px 0;
}

.aboutus_right ul li {
    line-height: 40px
}

.aboutus_right {
    width: 50%;
}

.aboutus_right .title {
    width: 113%;
}

.aboutus_right .title p {
    margin-bottom: 15px;
    font-weight: 600;
    font-size: 22px;
    margin-bottom: 20px;
    color: #f55f8d;
}

.aboutus_right .title h2 {
    font-size: 70px;
    line-height: 1.1;
    font-weight: 800;
    color: #262626;
    margin-bottom: 20px;
}

.aboutus_right p {
    margin-bottom: 15px;
}

.aboutus_right i {
    font-size: 24px;
    color: #f55f8d;
    margin-right: 10px;
    vertical-align: middle;
}

.aboutus_right ul {
    margin-bottom: 30px;
}

.number {
    background-image: url(../img/bg14.png);
    background-position: center;
    background-repeat: no-repeat;
    padding: 80px 0 50px;
    text-align: center;
}

.number_container {
    max-width: 1199px;
    margin: auto;
}

.number_content {
    display: flex;
    justify-content: space-around;
}

.number_item i {
    font-size: 45px;
    background-image: linear-gradient(to right, #f55f8d 0, #f8ae56 51%, #f55f8d 100%);
    background-size: 200%;
    color: #fff;
    width: 80px;
    height: 80px;
    line-height: 80px;
    display: inline-block;
    border-radius: 50%;
    margin-bottom: 15px;
}

.number_item p:first-of-type {
    font-size: 65px;
    font-weight: 800;
    color: #f55f8d;
    line-height: 1;
}

.number_item p:last-of-type {
    color: #262626;
    font-size: 18px;
}

.features {
    background-image: url(../img/bg2.png);
    background-size: 100%;
    background-position: center;
    background-repeat: no-repeat;
    padding-bottom: 0;
    overflow: hidden;
    padding-top: 115px;
}

.features_container {
    max-width: 1199px;
    margin: auto;
}

.features_content {
    display: flex;
    width: 100%;
}

.features_left .title p {
    font-weight: 600;
    font-size: 22px;
    margin-bottom: 20px;
    color: #f55f8d;
}

.features_left .title h2 {
    font-size: 70px;
    line-height: 1.1;
    font-weight: 800;
    color: #262626;
    margin-bottom: 20px;
}

.features_item i {
    font-size: 80px;
    line-height: 1;
    color: #f55f8d;
    z-index: 1;
    transition: all 1s;
}

.features_item {
    padding: 0 50px 30px 0;
}

.features_item:nth-of-type(2) {
    padding: 0 0 30px 50px;
}

.features_item div {
    padding-left: 25px;
    z-index: 1;
    transition: all 1s;
}

.features_banner img {
    width: 100%;
}

.features_right {
    width: 50%;
    margin: 0 20px;
    animation: shaking 2s infinite;
}

.features_banner {
    margin-right: -80px;
}

.features_item h3 {
    font-weight: 800;
    color: #262626;
    font-size: 1.5rem;
    transition: all 1s;
}

.features_bg {
    box-shadow: 0 0px 60px 0px rgb(0 0 0 / 10%);
    padding: 30px;
    background-color: #fff;
    border-radius: 10px;
    display: flex;
    align-items: center;
    position: relative;
    overflow: hidden;
}

.features_bg:hover i,
.features_bg:hover div,
.features_bg:hover h3 {
    color: #fff;
}

.features_bg:hover::after {
    opacity: 1;
}

.features_bg::after {
    content: "";
    background-image: linear-gradient(to right, #f55f8d 0, #f8ae56 51%, #f55f8d 100%);
    background-size: 200%;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    transition: all 1s;
}



/* PORFOLIO */
.portfolio {
    padding-top: 115px;
}

.portfolio .title p {
    font-weight: 600;
    font-size: 22px;
    margin-bottom: 20px;
    color: #f55f8d;
}

.portfolio .title h2 {
    font-size: 70px;
    line-height: 1.1;
    font-weight: 800;
    color: #262626;
    margin-bottom: 20px;
}

.portfolio .title {
    text-align: center;
}

.portfolio-content {
    display: grid;
    grid-template-columns: 1fr 1fr 1.5fr;
    grid-template-rows: 2fr 1fr 1.5fr;
    gap: 30px;
    width: 85%;
    margin: auto;
}

.portfolio-content img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.portfolio-item {
    overflow: hidden;
    border-radius: 10px;
    position: relative;
}

.portfolio-item-1 {
    grid-column: 1/3;
    grid-row: 1/2;
}

.portfolio-item-5 {
    grid-column: 1/3;
    grid-row: 3/4;
}

.portfolio-item-6 {
    grid-column: 3/4;
    grid-row: 2/4;
}

.portfolio-item::before {
    content: "";
    width: 50%;
    height: 100%;
    position: absolute;
    top: 0;
    left: -100%;
    display: block;
    background: linear-gradient(to right,
            rgba(255, 255, 255, 0) 0%,
            rgba(255, 255, 255, 0.3) 100%);
    transform: skewX(-25deg);
    transition: all 0.75s;
}

.portfolio-item:hover::before {
    left: 125%;
}

.portfolio-overplay {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.4);
    opacity: 0;
    transition: all .5s;
}

.portfolio-overplay i {
    display: block;
    font-size: 28px;
    line-height: 50px;
    height: 50px;
    width: 50px;
    text-align: center;
    color: white;
    font-size: 300;
    border-radius: 10px;
    background-image: linear-gradient(to right, #f55f8d, #f8ae56);
    position: absolute;
    top: 20px;
    right: 20px;
    transform: translate(20px, -20px);
    transition: all 0.5s;
}

.portfolio-overplay-detail {
    color: white;
    position: absolute;
    bottom: 30px;
    left: 30px;
    transform: translateY(150px);
    transition: all 0.5s;
}

.portfolio-overplay-detail p {
    opacity: 0.7;
}

.portfolio-item:hover .portfolio-overplay {
    opacity: 1;
}

.portfolio-item:hover .portfolio-overplay i {
    transform: translate(0);
}

.portfolio-item:hover .portfolio-overplay-detail {
    transform: translate(0);
}

/* blog */
.blog {
    background-image: url(../img/bg16.png);
    background-size: cover;
    background-position: top center;
    text-align: center;
    padding-bottom: 50px;
    padding-top: 115px;
}

.blog .title p {
    font-weight: 600;
    font-size: 22px;
    margin-bottom: 20px;
    color: #f55f8d;
}

.blog .title h2 {
    font-size: 70px;
    line-height: 1.1;
    font-weight: 800;
    color: #262626;
    margin-bottom: 20px;
}

.blog_item {
    margin: 12px;
    background: rgba(245, 95, 141, 0.1);
    /* width: 32%; */
    /* padding: 10px; */
    height: 470px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border-radius: 10px;
    overflow: hidden;
    position: relative;
    text-align: left;
}

.blog_header {
    position: relative;
}

.blog_header p {
    background-image: linear-gradient(to right, #f55f8d 0, #f8ae56 51%, #f55f8d 100%);
    background-size: 200%;
    border-radius: 6px;
    padding: 10px 20px;
    font-size: 14px;
    color: white;
    position: absolute;
    bottom: -20px;
    left: 15px;
}

.blog_body {
    padding: 30px 15px 20px 15px;
    line-height: 1.4;
    margin-bottom: 20px;
}

.blog_footer {
    display: flex;
    align-items: center;
    padding: 15px;
    text-transform: uppercase;
    font-weight: 400;
    font-size: 14px;
    border-top: 1px solid rgba(0, 0, 0, 0.05);
}

.blog_footer i {
    font-size: 22px;
    color: #f55f8d;
    vertical-align: sub;
}

.blog_footer p:first-of-type span {
    color: #f55f8d;
}

.blog_footer:last-of-type p {
    margin-left: 10px;
}

.slider {
    max-width: 1200px;
    margin: 0 auto;
}

.blog_news {
    display: flex;
    width: 85%;
    margin: auto;
    justify-content: space-between;
}

.blog_item img {
    width: 100%;
    border-radius: 10px;
}

.blog_body p {
    color: #636363;
    padding-left: 15px;
    font-size: 0.95rem;
    line-height: 23px;
}

.blog_item h3 {
    font-size: 1.4rem;
    font-weight: 700;
    padding: 0 0 5px 15px;
}

/* footer */
footer {
    background-image: url(../img/bg4.png);
    display: block;
    height: auto;
    background-repeat: no-repeat;
    background-position: center;
    background-color: #0e1b1f;
    background-size: contain;
    color: #fff;
    font-size: 15px;
    position: relative;
}

footer::before {
    content: "";
    background-image: url(../img/pattern2.png);
    background-position: left top;
    background-repeat: no-repeat;
    background-size: contain;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.container_footer {
    max-width: 1199px;
    margin: auto;
}

.footer_top {
    padding: 50px 60px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 0px 30px 0 rgba(0, 0, 0, 0.1);
    background-image: url(../img/pattern3.png);
    background-position: bottom;
    background-repeat: no-repeat;
    background-size: 100%;
    position: relative;
    display: flex;
}

.footer_text,
.footer_form {
    width: 50%;
}

.footer_text h2 {
    font-size: 28px;
    color: #262626;
}

/* truoc hover */
.footer_form input {
    padding: 20px 20px;
    font-size: 15px;
    font-weight: 400;
    color: #888;
    background: #fff;
    flex: 1 1 auto;
    border-radius: 0.5rem 0 0 0.5rem;
    border: 1px solid #fff;
    outline: none;
    transition: all .5s;
}

/* sau hover */
.footer_form input:focus,
.footer_form input:hover {
    border-color: #f55f8d;
}

.footer_form form {
    display: flex;
    border-radius: 0.5rem;
    box-shadow: 0 0 60px 0 rgb(0, 0, 0, 0.1);
}

/* truoc hover */
.footer_form button {
    padding: 20px 35px;
    font-size: 20px;
    background-image: linear-gradient(to right, #f55f8d 0, #f8ae56 51%, #f55f8d 100%);
    background-size: 200%;
    border-color: transparent;
    transition: all 0.5s;
    border-radius: 0 0.5rem 0.5rem 0;
    color: white;
    cursor: pointer;
}

/* sau hover */
.footer_form button:hover i {
    animation: toLeftFromRight 0.5s forwards;
    display: inline-block;
}

.footer_bottom {
    display: flex;
    padding: 70px 0;
    position: relative;
}

.footer_item {
    width: 25%;
}

/* truoc hover */
.footer_item a {
    color: #636363;
    font-size: 16px;
    transition: all .5s;
}

/* sau hover */
.footer_item a:hover {
    color: white;
}

.footer_item li {
    padding: 0.5rem 0;
}

.footer_item i {
    font-weight: 700;
    margin-right: 10px;
}

.footer_contact i {
    height: 40px;
    width: 40px;
    line-height: 40px;
    margin-right: 10px;
    text-align: center;
    background: linear-gradient(to right, #f55f8d 0, #f8ae56 51%, #f55f8d 100%);
    display: block;
    border-radius: 50px;
}

.footer_contact li {
    padding: 8px 0;
    display: flex;
    align-items: center;
}

.footer_item h3::before {
    width: 15px;
}



.footer_item h3 {
    font-size: 24px;
    font-weight: 700;
    padding-bottom: 10px;
    margin-bottom: 30px;
    position: relative;
    color: #fff;
}

.footer_item h3::before,
.footer_item h3::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    height: 4px;
    border-radius: 20px;
    background: linear-gradient(to right, #f55f8d 0, #f8ae56 51%, #f55f8d 100%);
    background-size: 200%;
}

.footer_item h3::after {
    width: 45px;
    left: 20px;
}

.footer_content {
    display: flex;
    justify-content: space-between;
}

.footer_left span {
    color: #f55f8d;
}

.footer_copyright {
    background-color: #1f343b;
    padding: 10px 0;
    position: relative;
}

/* truoc hover */
.footer_copyright a {
    height: 32px;
    width: 32px;
    line-height: 32px;
    text-align: center;
    display: inline-block;
    border-radius: 50px;
    font-size: 14px;
    color: white;
    background-color: rgba(255, 255, 255, 0.1);
    transition: all 0.5s;
    cursor: pointer;
}

/* sau hover */
.footer_copyright a:hover {
    background: #f55f8d;
}

/* backToTop */
.cd-top {
    width: 50px;
    height: 50px;
    background: #f55f8d;
    border-radius: 8px;
    line-height: 50px;
    text-align: center;
    display: block;
    position: fixed;
    right: 15px;
    bottom: 15px;
    color: white;
    transition: all .2s;
    box-shadow: -4px 4px 24px -10px #f55f8d;
    visibility: hidden;
    opacity: 0;
}

/* backtoTop */
.cd-top--is-visible {
    /* // back-to-top button visible */
    visibility: visible;
    opacity: 1;
}

.cd-top--fade-out {
    /* // reduce button opacity if user keeps scrolling */
    opacity: .5;
}

/* keyframe header */
@keyframes uptoDown {
    49% {
        transform: translateY(20px);
    }

    50% {
        transform: translateY(-20px);
        opacity: 0;
    }

    51% {
        opacity: 1;
    }
}

/* keyframe features */
@keyframes shaking {
    0% {
        rotate: 1deg;
        transform: 2px 2px;
    }

    50% {
        rotate: -1deg;
        transform: -2px -2px;
    }

    100% {
        rotate: 1deg;
        transform: 2px 2px;
    }
}

/* toLeftFromRight */
@keyframes toLeftFromRight {
    49% {
        transform: translateX(100%);
    }

    50% {
        opacity: 0;
        transform: translateX(-100%);
    }

    51% {
        opacity: 1;
    }
}